<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

    body {
      font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    }
  </style>

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Jobanpreet Singh Nagra
              </h1>
              <p>I am a Pre-Final UG pursuing Computer Science.</p>
              <p>I'm passionate about astrophotography, image processing, computer vision and deploying practical ML solutions.</p>
              <p style="text-align:center">
                <a target="_blank" href="mailto:jobanpreetsinghnagra05@gmail.com"> Email</a> &nbsp;/&nbsp;
                <a target="_blank" href="https://github.com/jobanpreetsinghnagra">GitHub</a> &nbsp;/&nbsp;
                <a target="_blank" href="https://x.com/j0bannagra">X (Twitter)</a> &nbsp;/&nbsp;
                <a target="_blank" href="https://huggingface.co/jobannagra">Hugging Face</a> &nbsp;/&nbsp;
                <a target="_blank" href="https://drive.google.com/file/d/1WK34LrbwasySkPklDbQvGaR0PfpQHnyZ/view?usp=sharing">CV</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/circle_bw_crop.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Projects</h2>
              <p>
                A selection of my recent work.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h3><a href="https://github.com/jobanpreetsinghnagra/Mushroom_Classification">Mushroom Classifier</a></h3>
              <p>
                A machine learning project focused on classifying mushrooms using their characteristics.
              </p>
            </td>
          </tr>
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h3><a href="https://github.com/jobanpreetsinghnagra/student_predictor">Student Performance Predictor</a></h3>
              <p>
                A model that predicts student performance based on academic and related features.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

